/* CSS files add styling rules to your content */

.head {
  background-color: #F2CF66;
  border-style: solid;
  border-color: white;
  border-radius: 50%;

  width: 250px;
  height: 260px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.eye {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: white;
  display: inline-block;
  margin-top: 30%;
  margin-left: 30px;
}

.pupil {
  width: 25px;
  height: 25px;
  background: black;
  margin: 3px 40px;
  border-radius:50%;

}

.mouth {
  position: absolute;
  width: 40%;
  height: 20%;
  z-index: 1;
  border-radius: 0 0 70px 70px;
  overflow: hidden;
  margin: 10px 80px;
  background: black;
}
/* .mouth:before,
.mouth:after {
  content: '';
  position: absolute;
  display: block;
}
.mouth.teeth::before {
  width: 100%;
  height: 20px;
  z-index: 2;
  background: white;
}

.mouth.tongue:after {
  position: absolute;
  width: 50px;
  height: 38px;
  left: 0;
  right: 0;
  top: 30px;
  margin: 0 auto;
  border-radius: 50%;
  background: #f54e42;
} */

.mouth{
  position: absolute;
  display: block;
}
.teeth {
  width: 100%;
  height: 20px;
  background: white;
}

.tongue{
  position: absolute;
  width: 50px;
  height: 38px;
  left: 0;
  right: 0;
  top: 30px;
  margin: 0 auto;
  border-radius: 50%;
  background: #f54e42;