body{
  font-family: sans-serif;
  font-size: 13px;
  text-align: center;
  color: navy;
}

.Nav_Bar {
  /*Positions the head relative to the body*/
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  /*Sets the color of the container and rounds the corners*/
  background-color: navy;
  border-radius: 0%;

  /*Sets the size of the container*/
  width: 300px;
  height: 100px;
}

.item {
  display: inline-block;
  overflow: hidden;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -30%);
  
  /*Sets the color of the container and rounds the corners*/
  background-color: gold;
  border-radius: 5%;

  /*Sets the size of the container*/
  margin: 5px;
  width: 50px;
  height: 40px;
}

.search {
  display: inline-block;
  left: 70%;
  top: 50%;
  transform: translate(-10%, -30%);
  
  /*Sets the color of the container and rounds the corners*/
  background-color: white;
  border-radius: 5%;
  color: gray;
  font-style: italic;

  /*Sets the size of the container*/
  margin: 5px;
  width: 180px;
  height: 40px;
}